:root {
  --body-bg-color:#0d0827;
  --app-color:white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  width: 100%;
}
@media screen and (max-width: 960px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}